@font-face {
    font-family: vazir;
    src: url("vazir/Vazir.eot") format("eot");
    src: url("vazir/Vazir.ttf") format("ttf");
    src: url("vazir/Vazir.woff") format("woff");
    src: url("vazir/Vazir.woff2") format("woff2");
}
