
@import "Persian-Font/font.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/*    Header   CSS   Start     */

@media (min-width: 976px) {
    header.headerbg{
        width: 100%;
        height: 100vh;
        background: url("/Images/Header/lg-md/header.jpg") no-repeat fixed center;
    }

}


@media (max-width: 976px) {
    header.headerbg{
        width: 100%;
        height: 100vh;
        background: url("/Images/Header/sm/header.jpg") no-repeat fixed center;
        background-size: cover;
    }

}

.header{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

h2.headerTitr{
    font-family: vazir;
    top:-50px;
    position: relative;
    font-size: calc(4vw + 10px);
}

div{
    font-family: samim;
    font-size: calc(2vw + 10px);
}

.headerIcon{
    font-size: calc(4vw + 20px);
    position: absolute;
    bottom: 100px;
    animation-name: headerIcon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color:#ECEFF1;
}

@keyframes headerIcon {
    0% {bottom: 100px;}
    100% {bottom: 0px;}
}

/*    Header   CSS   Finish     */

/*
*
*
*
*
*/



/*    Navbar   CSS   Start     */
nav{
    background-color: #fff;
    top: 0px;
    position: sticky;
    z-index: 100;
}
nav ul.navbar{
    width: 100%;

}


nav ul.navbar li{
    padding: 10px 5px;
    margin: 0px 10px;
    font-size: 20px;

}


nav ul.navbar li > a{
    text-decoration: none;
    color: #212121;
}


nav div ul.navbar  li.navbar.active a{
    text-decoration: none;
    color: #3f51b5;

}


nav div ul.navbar  li.navbar svg{
    text-decoration: none;
    top: 3px;
    position: relative;
}


nav div ul.navbar  li.navbar:hover a{
    text-decoration: none;
    color: #3f51b5;
    position: relative;
}

nav div ul.navbar  li.navbar.active svg{
    text-decoration: none;
    color: #3f51b5;
    /*top: 3px;*/
    position: relative;
}

nav div ul.navbar  li.navbar.active a::after{
    content: "";
    width: 100%;
    /*height: 3px;*/
    display: block;
    text-decoration: none;
    background-color: #3f51b5;
}

nav div ul.navbar  li.navbar div.register{
    width:100px;
    height: auto;
}

nav div ul.navbar  li.navbar div a{
    text-decoration: none;
    color: #212121;
    font-size: 12px;
    margin: 0px 3px;
}


span.shoppingCard{
    margin-left: 10px ;
    padding: 4px 0px;
}